.select-container {
  background-color: white;
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.select {
  position: relative;
  border: none;
  font-size: var(--base);
  width: 100%;
}
