.calc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-width: 500px;
  min-height: 300px;
}

.calc-header {
  padding-bottom: 10px;
  color: var(--text-tertiary);
}
