.input-container {
  position: relative;
}

.input {
  background-color: white;
  font-size: var(--text-base);
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 1px solid var(--border-secondary);
  width: 100%;
}

.input-large {
  height: 56px;
}

.input-label {
  position: absolute;
  top: 4px;
  left: 8px;
}
