.input-container {
  position: relative;
}

.input {
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  background-color: white;
  padding: 7px;
  padding-top: 16px;
  padding-bottom: 4px;
  width: 100%;
  font-size: var(--text-base);
}

.input-large {
  height: 56px;
}

.input-label {
  position: absolute;
  top: 4px;
  left: 8px;
}
