.select-container {
  position: relative;
}

.select {
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  background-color: white;
  padding: 3px;
  padding-top: 16px;
  padding-bottom: 4px;
  width: 100%;
  font-size: var(--text-base);
}

.select-large {
  height: 56px;
}

.select-label {
  position: absolute;
  top: 4px;
  left: 8px;
}
