.text-base {
  font-size: var(--text-base);
}

.text-base1 {
  font-size: var(--text-base1);
}

.text-base2 {
  font-size: var(--text-base2);
}

.text-h1 {
  font-size: var(--text-h1);
}

.text-error {
  color: var(--text-error);
}
.text-tertiary {
  color: var(--text-tertiary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-primary {
  color: var(--text-primary);
}
.text-white {
  color: var(--text-white);
}

.text-normal {
  font-weight: var(--text-font-normal);
}
.text-semibold {
  font-weight: var(--text-font-semibold);
}
.text-bold {
  font-weight: var(--text-font-bold);
}
